{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>1. The Lord Of The Rings</h1>
<div class="row">
{% for novel in lotrs %}
    <div class="col-md-2">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static novel.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ novel.novelTitle }}</h5>
                <p class="card-text">Author: {{ novel.author }}</p>
                <a href="{% url 'novelSeriesDetail' novel.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<h1>2. Sword Of Truth</h1>
<div class="row">
{% for novel in sots %}
    <div class="col-md-2">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static novel.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ novel.novelTitle }}</h5>
                <p class="card-text">Author: {{ novel.author }}</p>
                <a href="{% url 'novelSeriesDetail' novel.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<h1>3. Harry Potter</h1>
<div class="row">
{% for novel in hps %}
    <div class="col-md-2">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static novel.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ novel.novelTitle }}</h5>
                <p class="card-text">Author: {{ novel.author }}</p>
                <a href="{% url 'novelSeriesDetail' novel.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<h1>4. The Dresden Files</h1>
<div class="row">
{% for novel in tdfs %}
    <div class="col-md-2">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static novel.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ novel.novelTitle }}</h5>
                <p class="card-text">Author: {{ novel.author }}</p>
                <a href="{% url 'novelSeriesDetail' novel.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<h1>5. Otherland</h1>
<div class="row">
{% for novel in otherlands %}
    <div class="col-md-2">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static novel.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ novel.novelTitle }}</h5>
                <p class="card-text">Author: {{ novel.author }}</p>
                <a href="{% url 'novelSeriesDetail' novel.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
